.new_char
  %h3 Create a new Character
  != form_tag character_index_path, :method => :post do
    .avatar
    != label_tag "character[name]", "Name"
    != text_field_tag "character[name]"
    != label_tag "character[klass]", "Class"
    != select_tag "character[klass]", options_from_collection_for_select(Klasses::All, :id, :name)
    != label_tag "character[project]", "Project"
    != select_tag "character[project]", [1,2,3]

    != submit_tag "Create"