!!!
%html
  %head
    %title FTW
    != stylesheet_link_tag :application
    != javascript_include_tag :application
    != stylesheet_link_tag "http://fonts.googleapis.com/css?family=Press+Start+2P"

    != csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
            .icon-bar
            .icon-bar
            .icon-bar
          %a.brand FTW
          %span.description An RPG/Project Management hybrid.<br> Quest through tasks, kill the bugs, get loot - woot.
          - if @current_character.present?
            %p.navbar-text.pull-right
              Logged in as
              %a= link_to @current_character.name, dashboard_path
    .container
      - flash.each do |key,val|
        .flash{:class => key}
          != val
      != yield
