!!!
%html
  %head
    %title FTW
    != stylesheet_link_tag :application
    != javascript_include_tag :application
    != stylesheet_link_tag "http://fonts.googleapis.com/css?family=Press+Start+2P"

    != csrf_meta_tag
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
            .icon-bar
            .icon-bar
            .icon-bar
          %a.brand FTW
          .nav-collapse
            %ul.nav
              %li
                %a.active Home
              %li
                %a{href: "about"} About
              %li
                %a{href: "concat"} Contact
    .container
      %h1 FTW
      %h2 An RPG/Project Management hybrid.<br> Quest through tasks, kill the bugs, get loot - woot.
      - flash.each do |key,val|
        .flash{:class => key}
          != val
      != yield
